#title h1{
    font-family:sans-serif;
    font-size:40px;
    background-color:cadetblue;
    border: 2px solid black;
    padding: 40px 300px;
}

#nav a{
    display: inline-block;
    font-family:sans-serif;
    font-size: 20px;
    background-color: cadetblue;
    color:black;
    border: 2px solid black;
    padding: 10px 30px;
}

#nav :hover{
background-color:rgb(6, 181, 187);
}

#text h2{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#text p{
    font-size: 20px;
    font-family: monospace;
}

#seccion {
    float: left;
    padding: 20px 30px;
}

#right {
    border: 2px solid black;
    padding: 0px 10px;
    float: right; 
}

#pie{
    clear: both;
}
